h1{color:blue;
    text-align:center;
    text-decoration:underline;
font-size: 20px;}
p{color:blueviolet;
font-size: 18px;}
button{background-color:black;
color:aqua;
padding:12px 20px;
font-size: 21px;}
body{background-color:blanchedalmond;}